/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

:root{
    --primary-color:#D97706;
}

hr{
    margin: 2rem 0;
}


body{
    font-family: 'Montserrat', sans-serif;
}
/* CONTAINER */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

/* lINKS */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}


.link-primary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 00.5rem;
}

.link-secondary{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

/* LINKS */
small{
    padding: 1rem 0;
}
ol{
    padding-top: 1rem;
}
.list-non-bullet{
    list-style: none;
}
.list-inline{
    display: inline;
    padding: 0 0.5rem;
}


/* NAVIGATION */
.navigation{
    background-color: var(--primary-color);
    border-bottom-left-radius: 1.1rem;
    padding: 1rem 0.5rem;
}
 .brand-name{
     color: white;
 }
 .nav-link{
     text-decoration: none;

 }
 .navigation .list-non-bullet{
     text-align: right;
 }
 .nav-list{
     margin-right: 3rem;
 }

 /* HEADER */
 
 .hero-image{
     max-width: 400px;
     /* margin: auto;
     display: block; */
 }
.hero{
    text-align: center;
}



